/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERIC */
body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}
header{
    height: 30px;
}
main{
    height: calc(100vh - 110px);
    overflow-y: auto;
    padding: 30px;
    color: white;
}

/* UTILITY */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.navbar .badge{
    background-color: rgba(74,74,74);
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 3px;
}

/* MAIN */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column{
    height: 200px;
    width: 250px;
    padding: 10px 5px;
    
    position: relative;
}
.column > .img{
    height: 100%;
    width: 100%;
    display: block;
}
.name{
    background-color: rgb(107,116,127);
    padding: 5px 10px;

    position: absolute;
    bottom: 10px;
    left: 5px;
}

/* FOOTER */
footer{
    height: 80px;
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end-meeting button{
    border: 0;
    color: red;
    background-color: rgb(74,74,74);
    padding: 20px;
    height: 100%;
    cursor: pointer;
}
footer .end-meeting{
    align-self: stretch;
}
.controls{
    display: flex;
    align-items: center;
    text-align: center;
}
.control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 13px;
}
.control > i{
    padding-bottom: 5px ;
}
.control .fa-2x{
    font-size: 1.5rem;
}
.control .fa-share-from-square{
    color: green;
}
.fa-angle-up{
    font-size: 10px;
}